<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Import styles-->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Vue Template</title>
    <!--import Vue.js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app"> 
        <div class="nav-bar"></div>
    
        <h1>{{intro}}</h1>
        <!--Liste-->
        <ul>
            <li v-for="tool in tools" :key="tool.name">
              {{ tool.name }} - {{ tool.url }}
            </li>
        </ul>

        <!--Table-->
        <table>
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="tool in tools" :key="tool.name">
                <td>{{ tool.name }}</td>
                <td>{{ tool.url }}</td>
              </tr>
            </tbody>
        </table>
        <!--Tilføj-->
        <h2>Add Tool</h2>
          <input v-model="name" placeholder="Tool name">
          <input v-model="url" placeholder="Tool URL">
          <button @click="addMethod">Add</button>
        
        <h2>Delete Tool</h2>
          <input v-model="deleteName" placeholder="Tool name to delete">
          <button @click="deleteMethod">Delete</button>



        

    </div>
    
<!--Import App-->
<script src="./js/main.js"></script>

<!--Mount App-->
    <script>
    const mountedApp = app.mount('#app')
    </script>
    
</body>
</html>
